body {
    background-color: black;
    color: #f5f5f5;
    font-family: Verdana, Geneva, sans-serif;
}

.titre {
    margin-bottom: 120px;
}

.titre p {
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
    opacity: 1;
}

h1 {
    font-size: 38px;
    text-align: center;
    margin-top: 15px;
}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

p {
    line-height: 32px;
    font-size: 20px;
    text-align: justify;
    margin: 20px 0px;
    opacity: 0.0;
    transition: opacity 1.0s;
}

p.show {
    opacity: 1.0;
}

p.choice {
    text-align: center;
}

a {
    color: gray;
}

a:hover {
    color: white;
}